---
import Heading from '../../components/about/Heading.astro';
import { Image } from 'astro:assets';
import orquesta from '../../img/colon.webp';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/layout/Header.astro';
import Footer from '../../components/layout/Footer.astro';

const arquitecturaTeatral = [
    {
        tema: 'tema',
        description: 'Theatrical Architecture',
    },
    {
        tema: 'descripcion',
        description:
            'Theatrical architecture encompasses the architectural design of all aspects concerning a performance venue.',
    },
    {
        tema: 'servicios',
        description: [
            'Technical and diagnostic reports',
            'Needs program',
            'Preliminary layouts (with zoning), preliminary design, and bidding or executive project',
            'Feasibility study',
            'Interdisciplinary meetings',
            'Technical analysis of bids',
            'Architectural design of public areas (hall, foyer, lobby, complementary areas)',
            'Architectural design of technical and artistic support areas (dressing rooms, makeup rooms, costume and complementary workshops, storage and warehouses, etc.)',
            'Visual studies',
            'Seating layout',
            'Acoustic engineering',
            'Specific construction and furniture details',
            'Specific technical specifications',
        ],
    },
];
const equipamientoEscenotecnico = [
    {
        tema: 'tema',
        description: 'Stage Technology Equipment',
    },
    {
        tema: 'descripcion',
        description:
            'Stage technology equipment encompasses the systems that function behind the scenes efficiently, safely, quietly, and invisibly. We define and coordinate these systems with the building’s structure and its installations, advising on their selection according to economic, space, and time resources.',
    },
    {
        tema: 'servicios',
        description: [
            'Technical and diagnostic reports',
            'Needs program',
            'Preliminary layouts (with zoning), preliminary design, and bidding or executive project',
            'Feasibility study',
            'Interdisciplinary meetings',
            'Technical analysis of bids',
            'Architectural design of stage houses (grid and bridge system)',
            'Design of scenery suspension systems (manual, motorized, and auxiliary systems)',
            'Design of stage machinery systems (large horizontal and vertical movement platforms, variable proscenium)',
            'Design of complementary systems (fire curtain, stage floor, ballet rebound floors, technical intercom, stage manager, control booths, theatrical drapery, and acoustic chamber)',
            'Design of stage lighting systems',
            'Design of audio and video systems',
            'Specific technical specifications',
        ],
    },
];

const contenido = [
    {
        tema: 'Stage Technology Consulting',
        descripcion:
            'We provide specialized consulting in the design and planning of stage spaces, ensuring efficiency and functionality.',
        items: [
            'Stage Machinery Preventive and Corrective Maintenance',
            'Stage design',
            'Acoustic optimization',
            'Lighting system planning',
            'Audiovisual technology integration',
            'Bidding and executive projects',
            'Construction management and supervision',
            'Factory quality control',
            'Technical direction and assembly of show productions',
        ],
    },
];

const tema1 = arquitecturaTeatral.find((item) => item.tema === 'tema')?.description;
const descripcion1 = arquitecturaTeatral.find((item) => item.tema === 'descripcion')?.description;
const servicios = arquitecturaTeatral.find((item) => item.tema === 'servicios')?.description;

const tema2 = equipamientoEscenotecnico.find((item) => item.tema === 'tema')?.description;
const descripcion2 = equipamientoEscenotecnico.find(
    (item) => item.tema === 'descripcion'
)?.description;
const equipamentos = equipamientoEscenotecnico.find(
    (item) => item.tema === 'servicios'
)?.description;

const tema3 = contenido.find((item) => item.tema === 'Stage Technology Consulting')?.tema;
const descripcion3 = contenido.find(
    (item) => item.tema === 'Stage Technology Consulting'
)?.descripcion;
const contenidos = contenido.find((item) => item.tema === 'Stage Technology Consulting')?.items;
---

<Layout title="Services" description="Know our comprehensive services">
    <Header id="top" />
    <section class="py-16 sm:py-20">
        <Heading title="Services" subtitle="Know our comprehensive services" />
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-20 lg:max-w-7xl lg:px-8">
            <div class="mb-12 grid gap-16 lg:grid-cols-2 lg:gap-12">
                <Image
                    class="mx-auto h-full w-full max-w-xl rounded-xl object-cover"
                    src={orquesta}
                    alt="Our experts working together"
                />
                <div class="flex flex-col gap-10">
                    <!-- Mission description -->
                    <div class="space-y-8 sm:space-y-12">
                        <div
                            class="space-y-6 rounded-xl border border-primary-900/10 bg-primary-200/50 px-6 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 lg:p-12">
                            <p
                                class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                                We provide comprehensive stage technology consulting services
                                regarding projects and developments of opera houses, drama theaters,
                                concert halls, multi-purpose halls, arenas, complementary buildings,
                                and technical design of scenography for opera and ballet. We are
                                characterized by providing concrete and tailored responses. We
                                advise on projects that encompass a wide range, such as theater and
                                music halls, conference and exhibition centers, ballet schools, and
                                large cultural centers, among others, whether it be new construction
                                or remodeling.
                            </p>
                            <p
                                class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                                Our work methodology includes the creation of the necessary graphic
                                and written documentation to correctly establish the scope of the
                                stage technology project and the technology of the equipment to be
                                provided. The consulting services incorporate stage technology
                                equipment and theater architecture.
                            </p>
                        </div>
                    </div>

                    <!-- Stats -->
                </div>
            </div>
            <div class="grid gap-12 py-12 lg:grid-cols-2">
                <div
                    class="flex flex-col gap-4 rounded-xl border border-primary-900/10 bg-primary-200/50 px-6 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 lg:p-12">
                    <h2 class="text-2xl font-bold lg:text-4xl">{tema1}</h2>
                    <p
                        class="pb-6 text-base leading-normal text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                        {descripcion1}
                    </p>
                    <div class="flex flex-col items-center">
                        <ul class="mb-2 text-left text-sm">
                            {
                                servicios.map((servicio: string) => (
                                    <li class="text-sm text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                                        • {servicio}
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>

                <div
                    class="flex flex-col gap-4 rounded-xl border border-primary-900/10 bg-primary-200/50 p-4 px-6 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 lg:p-12">
                    <h2 class="text-2xl font-bold lg:text-4xl">{tema2}</h2>
                    <p
                        class="pb-6 text-base leading-normal text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                        {descripcion2}
                    </p>
                    <div class="flex flex-col items-center">
                        <ul class="mb-2 text-left text-sm">
                            {
                                equipamentos.map((equipamento: string) => (
                                    <li class="text-sm text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                                        • {equipamento}
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid gap-12 lg:grid-cols-2">
                <div
                    class="justify-startrounded-xl flex flex-col items-start rounded-xl border border-primary-900/10 bg-primary-200/50 p-4 px-6 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 lg:p-12">
                    <h2 class="text-2xl font-bold lg:text-4xl">{tema3}</h2>
                    <p
                        class="text-balance !max-w-[50ch] pb-6 text-base leading-normal text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                        {descripcion3}
                    </p>
                    <div class="flex flex-col items-center">
                        <ul class="mb-2 text-left text-sm">
                            {
                                contenidos.map((contenido: string) => (
                                    <li class="text-sm text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                                        • {contenido}
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer
        description="Sambataro Arquitectos, an architecture firm with over 40 years of experience in scenotechnical consulting and stage machinery for preventive and corrective maintenance."
    />
</Layout>
