---
import { Image } from 'astro:assets';
import Heading from '../../components/about/Heading.astro';
import theater from '../../img/projects/argentino/argentino2.webp';
const stats = [
    {
        name: 'Years',
        value: '30',
    },
    {
        name: 'Experts',
        value: '5',
    },
    {
        name: 'Projects',
        value: '100',
    },
    {
        name: 'Awards',
        value: "'5'",
    },
];

interface MissionProps {
    title: string;
    paragraph1: string;
    subtitle: string;
    paragraph2: string;
    paragraph3: string;
    paragraph4: string;
}

const { title, paragraph1, subtitle, paragraph2, paragraph3, paragraph4 } =
    Astro.props as MissionProps;
---

<section class="py-16 sm:py-20">
    <Heading title="Estudio" subtitle="Contactanos para más información" />

    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-20 lg:max-w-7xl lg:px-8">
        <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
            <div>
                <Image
                    class="mx-auto w-full max-w-xl rounded-3xl object-cover"
                    src={theater}
                    alt="Our experts working together"
                />
                <h2 class="py-8 text-3xl font-medium tracking-tight sm:text-4xl">{title}</h2>
                <div class="space-y-6">
                    <p class="text-sm text-primary-950/70 dark:text-primary-200/70 lg:text-base">
                        {paragraph1}
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-10">
                <!-- Mission description -->
                <div class="space-y-8 sm:space-y-12">
                    <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">{subtitle}</h2>
                    <div class="space-y-6">
                        <p
                            class="text-sm text-primary-950/70 dark:text-primary-200/70 lg:text-base">
                            {paragraph2}
                        </p>
                        <p
                            class="text-sm text-primary-950/70 dark:text-primary-200/70 lg:text-base">
                            {paragraph3}
                        </p>
                        <p
                            class="text-sm text-primary-950/70 dark:text-primary-200/70 lg:text-base">
                            {paragraph4}
                        </p>
                    </div>
                </div>

                <!-- Stats -->
                <!-- <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                    {
                        stats.map((stat) => (
                            <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                                <dt class="text-base">{stat.name}</dt>
                                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
                            </div>
                        ))
                    }
                </dl> -->
            </div>
        </div>
    </div>
</section>
