---
const team = [
    {
        name: 'Alfio Sambataro',
        image: '/assets/alfio.avif',
        job: 'Arquitecto - Socio Fundador',
        mini_description:
            'Arquitecto titulado en La Universidad de Buenos Aires en 1981, ha trabajado desde sus comienzos, hasta la fecha, en el diseño de salas de espectáculos y efectuando el diseño técnico de las escenografías para óperas y ballet en importantes producciones tanto en teatros de América como de Europa.',
        full_description:
            ' Arquitecto titulado en La Universidad de Buenos Aires en 1981, ha trabajado desde sus comienzos, hasta la fecha, en el diseño de salas de espectáculos y efectuando la ingeniería constructiva de las escenografías para óperas y ballet en importantes producciones tanto en teatros de América como de Europa. Como hito que marca el comienzo de una larga trayectoria de más de treinta años en el ámbito de la arquitectura teatral, se destaca el proyecto de remodelación, modernización y equipamiento, de la caja escénica del Teatro Colón de Buenos Aires, realizado en el año 1987, con Enrique Bordolini. Posteriormente trabajó en los proyectos del Teatro Argentino de La Plata, Provincia de Buenos Aires, desarrollado en el año 1999 y el anteproyecto de oferta licitatoria del Palau de les Arts, Reina Sofia en la Ciudad de las Artes y las Ciencias de Valencia, España. Su carrera dentro de esta especialidad siguió expandiéndose participando en proyectos a nivel internacional tales como, The Kimmel Center for the Performing Arts de Filadelfia, Estados Unidos; The Eastman Theater en Rochester de Nueva York; el Teatro Municipal de Santiago de Chile; el Teatro Municipal Ignacio Pane de Asunción, Paraguay entre otros. La temática abordada abarca además de la escenotecnia, la refuncionalización de edificios culturales históricos, tarea desarrollada en conjunto con especialistas de restauración arquitectónica. Dentro de este tópico produjo proyectos tales como el Teatro Martín Fierro de La Plata; el Centro Cultural Recoleta en la Ciudad Autónoma de Buenos Aires, El Centro Cultural Casa Lo Matta, en Vitacura, Chile y La Escuela de Ballet del Teatro Municipal de Santiago de Chile, entre otros. También abarcó su actividad como asesor escenotécnico la realización de nuevas salas para espectáculos y eventos de mediana y gran envergadura, tales como el Centro Cultural Gabriela Mistral, de Santiago de Chile; Teatro Bellas Artes de Bogotá; Arena de Santiago; Teatro del Lago en Frutillar, ambos en Chile, entre otros. Con Enrique Bordolini desarrollaron desde hace más de 30 años la dirección y producción técnica de grandes eventos al aire libre, para entidades tanto públicas como privadas.',
        email: 'alfiosambataro@sambataroarquitectos.com',
    },
    {
        name: 'Enrique Bordolini',
        image: '/assets/enrique.avif',
        job: 'Escenógrafo - Socio Fundador',
        mini_description:
            'Escenógrafo, director General Escenotécnico del Teatro Colón de buenos Aires 1950-2024',
        full_description:
            'Se formó en el ISATC donde fue responsable del diseño de los sistemas de iluminación (1979), dirigió el proyecto de modernización escénica (1989) y fue Director de Producción Escénica. Fue Director Técnico de los teatros Argentino de la Plata, Municipal de Santiago de Chile y Director Escenotécnico del Teatro Colón (1998). Realizó el diseño escenográfico de óperas como La Traviata, Le cantatrice villane, El barbero de Sevilla, El elixir del amor, Don Pasquale, Un ballo in maschera, Rigoletto, Ernani, Nabucco, La bohème, Lucia di Lammermoor, Fedora, Attila, Die Soldaten y Julio César en prestigiosos teatros de América, Europa y Medio Oriente. En 2016 asumió nuevamente la Dirección de Producción Escenotécnica del Argentino de La Plata. En 2019 asume nuevamente la Dirección General Escenotécnica del Teatro Colón de Buenos Aires.',
        email: 'enriquebordolini@sambataroarquitectos.com',
    },
    {
        name: 'Agostina Sambataro',
        image: '/assets/agostina.avif',
        job: 'Architecta - Socia Co-Fundadora',
        mini_description:
            'Desde su egreso de la Universidad de Buenos Aires en el año 2013 en el cual fue distinguida por su destacada labor y desempeño académico, ha acumulado experiencia en diversas áreas de la arquitectura, tanto nacional como internacionalmente, orientándose hacia el ámbito de la educación y la cultura.',
        full_description:
            'Desde su egreso de la Universidad de Buenos Aires en el año 2013 en el cual fue distinguida con el “Diploma por su destacada labor y desempeño académico, reconocida por entidades públicas y privadas externas al ámbito de la Universidad”, ha acumulado experiencia en diversas áreas de la arquitectura, tanto nacional como internacionalmente orientándose hacia el ámbito educacional y cultural. Aun siendo estudiante - luego de su experiencia laboral en Estados Unidos y académica en Alemania y Nueva Zelanda - comenzó su carrera en arquitectura en Santiago de Chile en el estudio Amercanda junto al arquitecto Bernd Haller. Más adelante trabajó en el proyecto de edificio de viviendas BMC y Aula Magna de la Universidad de Quilmes en el estudio Faivre en Buenos Aires. Participó también en concursos de arquitectura tanto nacionales como internacionales, obteniendo el primer lugar en dos ocasiones, incluyendo el “Premio Clarín-SCA para estudiantes de arquitectura”. En el año 2015 se trasladó a la ciudad de Colonia, Alemania para formar parte del equipo de arquitectos del estudio v-architekten, en donde obtuvo el primer lugar como resultado del concurso para la Escuela técnica del ejército de la República Federal de Alemania en Karlsruhe, colaborando también en los proyectos de la Escuela primaria Berkersheim en Frankfurt y Centro Parroquial Langenfeld. De regreso en Buenos Aires se asoció al estudio Sambataro Arquitectos, en el cual se desempeña actualmente, especializándose en el ámbito de la arquitectura teatral y la escenotecnia. En dicho aspecto, ha trabajado para prestigiosas instituciones como el Centro Cultural Recoleta, Teatro Coliseo de la Fundación Cultural Coliseum, Teatro Argentino de La Plata, Teatro Colón, Teatro Tronador de Mar del Plata, Teatro Martín Fierro de La Plata, Teatro del Libertador General San Martin de Córdoba y Teatro Príncipe de Gales de Santiago de Chile, entre otros; desempeñándose tanto en la supervisión de obra como en el desarrollo de proyectos licitatorios y ejecutivos. Participó en cursos de especialización dictados por Graduate School of Design of the University of Harvard, Argentina Green Building Council y American Institute of Architects de Washington DC. Sus trabajos y artículos han sido publicados en revistas, canales televisivos y plataformas de arquitectura como Revista Summa, ARQ Clarín, Canal (á), D&D, Plataforma arquitectura y ArchDaily.',
        email: 'agostinasambataro@sambataroarquitectos.com',
    },
];

const team2 = [
    {
        position: 'Escenotecnia',
        name1: 'Enrique Bordolini',
        name2: 'Arq. Alfio Sambataro',
    },
    {
        position: 'Arquitectura teatral',
        name1: 'Arq. Agostina Sambataro',
        name2: '',
    },
    {
        position: 'Iluminación escénica',
        name1: 'Enrique Bordolini',
        name2: '',
    },
    {
        position: 'Patrimonio y restauración',
        name1: 'Arq. Andrés Cumsille C.',
        name2: '',
    },
    {
        position: 'Ingeniería estructural y mecánica',
        name1: 'Ing. Juan Antonio Vargas',
        name2: '',
    },
    {
        position: 'Ingeniería acústica',
        name1: 'Ing. Jorge Sommerhoff',
        name2: '',
    },
    {
        position: 'Sonido y video',
        name1: 'Jorge Cárdena',
        name2: '',
    },
];
---

<section class="py-16 sm:py-20">
    <div class="relative mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="sm:space-8 space-y-12">
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Conoce nuestro equipo</h2>
            <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
                {
                    team.map((item, index) => (
                        <li class=" rounded-xl border  border-primary-900/10 bg-primary-200/50 p-2 px-2 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900  lg:px-6">
                            <div class="space-y-6">
                                <img
                                    class="mx-auto h-40 w-40 rounded-full object-cover"
                                    src={item.image}
                                    alt={item.name}
                                />
                                <div class="text-center">
                                    <h3 class="text-lg font-bold">{item.name}</h3>
                                    <p class="pb-2 text-base font-semibold text-primary-950/70 dark:text-primary-200/70">
                                        {item.job}
                                    </p>
                                    <p class="text-balance text-xs text-primary-950/70 dark:text-primary-200/70 lg:text-sm">
                                        {item.mini_description}
                                    </p>
                                </div>
                                <button
                                    class="open-dialog-button dark:hover-bg-primary-700 flex w-full items-center justify-center rounded-xl bg-primary-100 px-6 py-4 text-sm font-normal text-primary-700 shadow transition-all hover:text-primary-800 hover:shadow-md focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-1 focus-visible:outline-primary-500 active:scale-95 dark:border-primary-700 dark:bg-primary-800 dark:text-primary-200 dark:hover:bg-primary-700 dark:hover:text-primary-100 dark:focus-visible:outline-primary-400"
                                    data-index={index}>
                                    Ver más
                                </button>
                                {/* Dialog que se abrirá al hacer click */}
                                <dialog
                                    class="dialog fixed left-0 top-0 z-50 m-auto h-full w-full overflow-hidden rounded-3xl bg-primary-100 dark:bg-primary-800 lg:max-w-[50%]"
                                    data-index={index}>
                                    <aside
                                        class={`bg-black/50 shadow-gray-600/10 motion-scale-in-[0.48] motion-translate-x-in-[-1%] motion-translate-y-in-[1%] motion-opacity-in-[0%] motion-blur-in-[5px] motion-duration-[0.25s] motion-duration-[0.53s]/scale motion-duration-[0.53s]/translate group relative mx-auto flex h-full w-full items-center justify-center gap-4 rounded-3xl py-4 shadow-2xl !backdrop-blur transition-all`}>
                                        <button
                                            class="close-dialog-button close-dialog absolute right-4 top-4 inline-flex h-12 w-12 items-center justify-center rounded-full bg-primary-200/50 p-2 text-primary-950 shadow ring-primary-950 backdrop-blur-md transition hover:bg-primary-200/75 focus:outline-none focus-visible:ring-2 dark:bg-primary-800/50 dark:text-primary-200 dark:hover:bg-primary-800/75"
                                            data-index={index}>
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor">
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M6 18L18 6M6 6l12 12"
                                                />
                                            </svg>
                                        </button>
                                        <div class="flex h-full flex-col items-center space-y-4 overflow-auto lg:p-8 ">
                                            <img
                                                class="h-40 w-40 rounded-full  object-cover"
                                                src={item.image}
                                                alt={item.name}
                                            />
                                            <h3 class="text-lg font-bold text-primary-950/70 dark:text-primary-100/70">
                                                {item.name}
                                            </h3>
                                            <p class="text-base font-semibold text-primary-950/70 dark:text-primary-100/70">
                                                {item.job}
                                            </p>
                                            <p class="text-pretty text-pretty px-4 text-xs text-primary-950/70 dark:text-primary-200/70 lg:px-8 lg:text-base">
                                                {item.full_description}
                                            </p>
                                            <a
                                                href={item.email}
                                                target="_blank"
                                                class="inline-flex h-12 items-center justify-center rounded-full bg-primary-200/50 p-2 px-8 text-primary-950 shadow ring-primary-950 backdrop-blur-md transition hover:bg-primary-200/75 focus:outline-none focus-visible:ring-2 dark:bg-primary-800/50 dark:text-primary-200 dark:hover:bg-primary-800/75">
                                                {item.email}
                                            </a>
                                        </div>
                                    </aside>
                                </dialog>
                            </div>
                        </li>
                    ))
                }
            </ul>

            <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
                {
                    team2.map((item) => (
                        <li class="flex min-h-[200px] items-center justify-center rounded-xl border border-primary-900/10  bg-primary-200/50 px-6   py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 ">
                            <div class="space-y-6">
                                <div class="text-center">
                                    <p class="text-base text-primary-950/70 dark:text-primary-200/70">
                                        {item.position}
                                    </p>
                                    <h3 class="text-lg font-bold">{item.name1}</h3>
                                    <h3 class="text-lg font-bold">{item.name2}</h3>
                                </div>
                            </div>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</section>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        document.addEventListener('click', (event) => {
            const target = event.target.closest('button');

            if (!target) return;

            if (target.matches('.open-dialog-button')) {
                const index = target.getAttribute('data-index'); // 🔹 Usamos getAttribute
                if (index !== null) {
                    const dialog = target.closest('li').querySelector('dialog');
                    if (dialog) dialog.showModal();
                }
            }

            if (target.matches('.close-dialog-button')) {
                const dialog = target.closest('dialog');
                if (dialog) dialog.close();
            }
        });
    });
</script>
