---
const team = [
    {
        name: 'Alfio Sambataro',
        image: '/assets/alfio.avif',
        job: 'Architect - Founding Partner',
        mini_description:
            'Architect graduated from the University of Buenos Aires in 1981, has worked since his beginnings, to date, in the design of performance venues and carrying out the technical design of scenography for operas and ballet in important productions in theaters in America and Europe.',
        full_description:
            'Architect graduated from the University of Buenos Aires in 1981, has worked since his beginnings, to date, in the design of performance venues and carrying out the constructive engineering of scenography for operas and ballet in important productions in theaters in America and Europe. As a milestone that marks the beginning of a long career of more than thirty years in the field of theater architecture, the remodeling, modernization and equipment project of the stage house of the Teatro Col칩n in Buenos Aires, carried out in 1987 with Enrique Bordolini, stands out. He later worked on the projects of the Teatro Argentino de La Plata, Province of Buenos Aires, developed in 1999 and the preliminary draft of the tender offer of the Palau de les Arts, Reina Sofia in the City of Arts and Sciences of Valencia, Spain. His career within this specialty continued to expand, participating in international projects such as The Kimmel Center for the Performing Arts in Philadelphia, United States; The Eastman Theater in Rochester, New York; the Municipal Theater of Santiago de Chile; the Ignacio Pane Municipal Theater of Asunci칩n, Paraguay, among others. The subject addressed covers, in addition to stage technology, the repurposing of historical cultural buildings, a task developed in conjunction with architectural restoration specialists. Within this topic, he produced projects such as the Teatro Mart칤n Fierro de La Plata; the Recoleta Cultural Center in the Autonomous City of Buenos Aires, the Casa Lo Matta Cultural Center, in Vitacura, Chile and the Ballet School of the Municipal Theater of Santiago de Chile, among others. His activity as a stage technology consultant also included the creation of new venues for medium and large-scale shows and events, such as the Gabriela Mistral Cultural Center, in Santiago de Chile; Teatro Bellas Artes in Bogot치; Arena de Santiago; Teatro del Lago in Frutillar, both in Chile, among others. With Enrique Bordolini, they have been developing the technical direction and production of large outdoor events for public and private entities for more than 30 years.',
        email: 'alfiosambataro@sambataroarquitectos.com',
    },
    {
        name: 'Enrique Bordolini',
        image: '/assets/enrique.avif',
        job: 'Set Designer - Founding Partner',
        mini_description:
            'Set designer, General Stage Technology Director of the Teatro Col칩n de Buenos Aires 1950-2024. He trained at ISATC where he was responsible for the design of lighting systems (1979), directed the scenic modernization project (1989) and was Director of Scenic Production. He was Technical Director of the Argentino de la Plata and Municipal de Santiago de Chile theaters and Stage Technology Director of the Teatro Col칩n (1998).',
        full_description:
            'He trained at ISATC where he was responsible for the design of lighting systems (1979), directed the scenic modernization project (1989) and was Director of Scenic Production. He was Technical Director of the Argentino de la Plata and Municipal de Santiago de Chile theaters and Stage Technology Director of the Teatro Col칩n (1998). He created the scenographic design of operas such as La Traviata, Le cantatrice villane, The Barber of Seville, The Elixir of Love, Don Pasquale, Un ballo in maschera, Rigoletto, Ernani, Nabucco, La boh칟me, Lucia di Lammermoor, Fedora, Attila, Die Soldaten and Julius Caesar in prestigious theaters in America, Europe and the Middle East. In 2016 he once again assumed the Direction of Scenic Production Technology of the Argentino de La Plata. In 2019 he once again assumes the General Direction of Scenic Technology of the Teatro Col칩n in Buenos Aires.',
        email: 'enriquebordolini@sambataroarquitectos.com',
    },
    {
        name: 'Agostina Sambataro',
        image: '/assets/agostina.avif',
        job: 'Architect - Co-Founding Partner',
        mini_description:
            'Since graduating from the University of Buenos Aires in 2013, in which she was distinguished for her outstanding work and academic performance, she has accumulated experience in various areas of architecture, both nationally and internationally, focusing on the field of education and culture.',
        full_description:
            'Since graduating from the University of Buenos Aires in 2013, in which she was distinguished with the "Diploma for her outstanding work and academic performance, recognized by public and private entities outside the University," she has accumulated experience in various areas of architecture, both nationally and internationally, focusing on the educational and cultural field. Even as a student - after her work experience in the United States and academic experience in Germany and New Zealand - she began her career in architecture in Santiago de Chile at the Amercanda studio with architect Bernd Haller. Later she worked on the BMC housing building project and Aula Magna of the University of Quilmes at the Faivre studio in Buenos Aires. She also participated in national and international architecture competitions, obtaining first place on two occasions, including the "Clar칤n-SCA Award for architecture students." In 2015 she moved to the city of Cologne, Germany to join the team of architects at the v-architekten studio, where she obtained first place as a result of the competition for the technical school of the army of the Federal Republic of Germany in Karlsruhe, also collaborating on the projects of the Berkersheim primary school in Frankfurt and the Langenfeld Parish Center. Back in Buenos Aires, she joined the Sambataro Arquitectos studio, where she currently works, specializing in the field of theater architecture and stage technology. In this regard, she has worked for prestigious institutions such as the Recoleta Cultural Center, Coliseo Theater of the Coliseum Cultural Foundation, Argentino de La Plata Theater, Col칩n Theater, Tronador Theater of Mar del Plata, Mart칤n Fierro Theater of La Plata, Libertador General San Martin Theater of C칩rdoba and Pr칤ncipe de Gales Theater of Santiago de Chile, among others; working both in the supervision of work and in the development of bidding and executive projects. She participated in specialization courses taught by the Graduate School of Design of the University of Harvard, Argentina Green Building Council and American Institute of Architects of Washington DC. Her works and articles have been published in magazines, television channels and architecture platforms such as Summa Magazine, ARQ Clar칤n, Canal (치), D&D, Plataforma arquitectura and ArchDaily.',
        email: 'agostinasambataro@sambataroarquitectos.com',
    },
];

const team2 = [
    {
        position: 'Stage Technology',
        name1: 'Enrique Bordolini',
        name2: 'Architect Alfio Sambataro',
    },
    {
        position: 'Theater Architecture',
        name1: 'Architect Agostina Sambataro',
        name2: '',
    },
    {
        position: 'Stage Lighting',
        name1: 'Enrique Bordolini',
        name2: '',
    },
    {
        position: 'Heritage and Restoration',
        name1: 'Architect Andr칠s Cumsille C.',
        name2: '',
    },
    {
        position: 'Structural and Mechanical Engineering',
        name1: 'Engineer Juan Antonio Vargas',
        name2: '',
    },
    {
        position: 'Acoustic Engineering',
        name1: 'Engineer Jorge Sommerhoff',
        name2: '',
    },
    {
        position: 'Sound and Video',
        name1: 'Jorge C치rdena',
        name2: '',
    },
];
---

<section class="py-16 sm:py-20">
    <div class="relative mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="sm:space-8 space-y-12">
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Know our team</h2>
            <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
                {
                    team.map((item, index) => (
                        <li class=" rounded-xl border  border-primary-900/10 bg-primary-200/50 p-2 px-2 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900  lg:px-6">
                            <div class="space-y-6">
                                <img
                                    class="mx-auto h-40 w-40 rounded-full object-cover"
                                    src={item.image}
                                    alt={item.name}
                                />
                                <div class="text-center">
                                    <h3 class="text-lg font-bold">{item.name}</h3>
                                    <p class="pb-2 text-base font-semibold text-primary-950/70 dark:text-primary-200/70">
                                        {item.job}
                                    </p>
                                    <p class="text-balance text-xs text-primary-950/70 dark:text-primary-200/70 lg:text-sm">
                                        {item.mini_description}
                                    </p>
                                </div>
                                <button
                                    class="open-dialog-button dark:hover-bg-primary-700 flex w-full items-center justify-center rounded-xl bg-primary-100 px-6 py-4 text-sm font-normal text-primary-700 shadow transition-all hover:text-primary-800 hover:shadow-md focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-1 focus-visible:outline-primary-500 active:scale-95 dark:border-primary-700 dark:bg-primary-800 dark:text-primary-200 dark:hover:bg-primary-700 dark:hover:text-primary-100 dark:focus-visible:outline-primary-400"
                                    data-index={index}>
                                    View more
                                </button>
                                {/* Dialog que se abrir치 al hacer click */}
                                <dialog
                                    class="dialog fixed left-0 top-0 z-50 m-auto h-full w-full overflow-hidden rounded-3xl bg-primary-100 dark:bg-primary-800 lg:max-w-[50%]"
                                    data-index={index}>
                                    <aside
                                        class={`bg-black/50 shadow-gray-600/10 motion-scale-in-[0.48] motion-translate-x-in-[-1%] motion-translate-y-in-[1%] motion-opacity-in-[0%] motion-blur-in-[5px] motion-duration-[0.25s] motion-duration-[0.53s]/scale motion-duration-[0.53s]/translate group relative mx-auto flex h-full w-full items-center justify-center gap-4 rounded-3xl py-4 shadow-2xl !backdrop-blur transition-all`}>
                                        <button
                                            class="close-dialog-button close-dialog absolute right-4 top-4 inline-flex h-12 w-12 items-center justify-center rounded-full bg-primary-200/50 p-2 text-primary-950 shadow ring-primary-950 backdrop-blur-md transition hover:bg-primary-200/75 focus:outline-none focus-visible:ring-2 dark:bg-primary-800/50 dark:text-primary-200 dark:hover:bg-primary-800/75"
                                            data-index={index}>
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor">
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M6 18L18 6M6 6l12 12"
                                                />
                                            </svg>
                                        </button>
                                        <div class="flex h-full flex-col items-center space-y-4 overflow-auto lg:p-8 ">
                                            <img
                                                class="h-40 w-40 rounded-full  object-cover"
                                                src={item.image}
                                                alt={item.name}
                                            />
                                            <h3 class="text-lg font-bold text-primary-950/70 dark:text-primary-100/70">
                                                {item.name}
                                            </h3>
                                            <p class="text-base font-semibold text-primary-950/70 dark:text-primary-100/70">
                                                {item.job}
                                            </p>
                                            <p class="text-pretty text-pretty px-4 text-xs text-primary-950/70 dark:text-primary-200/70 lg:px-8 lg:text-base">
                                                {item.full_description}
                                            </p>
                                            <a
                                                href={item.email}
                                                target="_blank"
                                                class="inline-flex h-12 items-center justify-center rounded-full bg-primary-200/50 p-2 px-8 text-primary-950 shadow ring-primary-950 backdrop-blur-md transition hover:bg-primary-200/75 focus:outline-none focus-visible:ring-2 dark:bg-primary-800/50 dark:text-primary-200 dark:hover:bg-primary-800/75">
                                                {item.email}
                                            </a>
                                        </div>
                                    </aside>
                                </dialog>
                            </div>
                        </li>
                    ))
                }
            </ul>

            <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
                {
                    team2.map((item) => (
                        <li class="flex min-h-[200px] items-center justify-center rounded-xl border border-primary-900/10  bg-primary-200/50 px-6   py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 ">
                            <div class="space-y-6">
                                <div class="text-center">
                                    <p class="text-base text-primary-950/70 dark:text-primary-200/70">
                                        {item.position}
                                    </p>
                                    <h3 class="text-lg font-bold">{item.name1}</h3>
                                    <h3 class="text-lg font-bold">{item.name2}</h3>
                                </div>
                            </div>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</section>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        document.addEventListener('click', (event) => {
            const target = event.target.closest('button');

            if (!target) return;

            if (target.matches('.open-dialog-button')) {
                const index = target.getAttribute('data-index'); // 游댳 Usamos getAttribute
                if (index !== null) {
                    const dialog = target.closest('li').querySelector('dialog');
                    if (dialog) dialog.showModal();
                }
            }

            if (target.matches('.close-dialog-button')) {
                const dialog = target.closest('dialog');
                if (dialog) dialog.close();
            }
        });
    });
</script>
