---
import Heading from '../components/about/Heading.astro';
import { Image } from 'astro:assets';
import orquesta from '../img/colon.webp';
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

const arquitecturaTeatral = [
    {
        tema: 'tema',
        description: 'Escenotécnia - Arquitectura teatral',
    },
    {
        tema: 'descripcion',
        description:
            'La arquitectura teatral abarca el diseño arquitectónico de todos los aspectos que conciernen a una sala de espectáculos.',
    },
    {
        tema: 'servicios',
        description: [
            'Equipamiento escenotécnico ',
            'Iluminación escénica',
            'Acústica y refuerzo sonoro',
            'Maquinaria escénica, mantenimiento preventivo y correctivo',
        ],
    },
];
const equipamientoEscenotecnico = [
    {
        tema: 'tema',
        description: 'Arquitectura',
    },
    {
        tema: 'descripcion',
        description:
            'El equipamiento escenotécnico abarca los sistemas que funcionan detrás de escena de forma eficiente, segura, silenciosa e invisible. Definimos y coordinamos dichos sistemas con la estructura del edificio y sus instalaciones, asesorando en la elección de estos de acuerdo a los recursos económicos, de espacio y de tiempo.',
    },
    {
        tema: 'servicios',
        description: ['Cultura', 'Educación', 'Interiorismo', 'Residencial'],
    },
];

const contenido = [
    {
        tema: 'Sustentabilidad - Ingeniería Estructural',
        descripcion:
            'Brindamos consultoría especializada en diseño y planificación de espacios escénicos, asegurando eficiencia y funcionalidad.',
        items: ['Simulación', 'LCA'],
    },
];

const tema1 = arquitecturaTeatral.find((item) => item.tema === 'tema')?.description;
const descripcion1 = arquitecturaTeatral.find((item) => item.tema === 'descripcion')?.description;
const servicios = arquitecturaTeatral.find((item) => item.tema === 'servicios')?.description;

const tema2 = equipamientoEscenotecnico.find((item) => item.tema === 'tema')?.description;
const descripcion2 = equipamientoEscenotecnico.find(
    (item) => item.tema === 'descripcion'
)?.description;
const equipamentos = equipamientoEscenotecnico.find(
    (item) => item.tema === 'servicios'
)?.description;

const tema3 = contenido.find(
    (item) => item.tema === 'Sustentabilidad - Ingeniería Estructural'
)?.tema;
const descripcion3 = contenido.find(
    (item) => item.tema === 'Sustentabilidad - Ingeniería Estructural'
)?.descripcion;
const contenidos = contenido.find(
    (item) => item.tema === 'Sustentabilidad - Ingeniería Estructural'
)?.items;
---

<Layout title="Servicio" description="Conoce más sobre nuestro servicio">
    <Header id="top" />
    <section class="py-16 sm:py-20">
        <Heading title="Servicios" subtitle="Conocé nuestro servicios integrales" />

        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-20 lg:max-w-7xl lg:px-8">
            <div class="mb-12 grid gap-16 lg:grid-cols-2 lg:gap-12">
                <Image
                    class="mx-auto h-full w-full max-w-xl rounded-xl object-cover"
                    src={orquesta}
                    alt="Our experts working together"
                />
                <div class="flex flex-col gap-10">
                    <!-- Mission description -->
                    <div class="space-y-8 sm:space-y-12">
                        <div
                            class="space-y-6 rounded-xl border border-primary-900/10 bg-primary-200/50 px-6 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 lg:p-12">
                            <p
                                class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                                Prestamos servicios integrales de asesoría escenotécnica respecto a
                                proyectos y desarrollos de salas líricas, de prosa, de concierto,
                                polivalentes, arenas, edificios complementarios y diseño técnico de
                                escenografías para ópera y ballet. Nos caracterizamos por brindar
                                respuestas concretas y a medida. Asesoramos proyectos que abarcan
                                una amplia gama, como salas de teatro y música, centros de
                                conferencias y exhibiciones, escuelas de ballet y grandes centros
                                culturales, entre otros, ya sea obra nueva o remodelación.
                            </p>
                            <p
                                class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                                Nuestra metodología de trabajo incluye la realización de la
                                documentación gráfica y escrita necesaria para establecer
                                correctamente los alcances del proyecto escenotécnico y la
                                tecnología de los equipos a proveer. Los servicios de asesoría
                                incorporan el equipamiento escenotécnico y la arquitectura teatral.
                            </p>
                        </div>
                    </div>

                    <!-- Stats -->
                </div>
            </div>
            <div class="grid gap-12 py-12 lg:grid-cols-2">
                <div
                    class="flex flex-col gap-4 rounded-xl border border-primary-900/10 bg-primary-200/50 px-6 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 lg:p-12">
                    <h2 class="pb-6 text-2xl lg:text-3xl">{tema1}</h2>
                    <!-- <p
                        class="pb-6 text-base leading-normal text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                        {descripcion1}
                    </p> -->
                    <div class="flex flex-col">
                        <ul class="mb-2 text-left text-sm">
                            {
                                servicios.map((servicio: string) => (
                                    <li class="text-sm text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                                        • {servicio}
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>

                <div
                    class="flex flex-col gap-4 rounded-xl border border-primary-900/10 bg-primary-200/50 p-4 px-6 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 lg:p-12">
                    <h2 class="pb-6 text-2xl lg:text-3xl">{tema2}</h2>
                    <!-- <p
                        class="pb-6 text-base leading-normal text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                        {descripcion2}
                    </p> -->
                    <div class="flex flex-col">
                        <ul class="mb-2 text-left text-sm">
                            {
                                equipamentos.map((equipamento: string) => (
                                    <li class="text-sm text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                                        • {equipamento}
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid gap-12 lg:grid-cols-2">
                <div
                    class="justify-startrounded-xl flex flex-col items-start rounded-xl border border-primary-900/10 bg-primary-200/50 p-4 px-6 py-8 shadow-md dark:border-primary-300/10 dark:bg-primary-900 lg:p-12">
                    <h2 class="pb-6 text-2xl lg:text-3xl">{tema3}</h2>
                    <!-- <p
                        class="text-balance !max-w-[50ch] pb-6 text-base leading-normal text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                        {descripcion3}
                    </p> -->
                    <div class="flex flex-col">
                        <ul class="mb-2 text-left text-sm">
                            {
                                contenidos.map((contenido: string) => (
                                    <li class="text-sm text-primary-950/70 dark:text-primary-200/70 sm:text-base">
                                        • {contenido}
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer
        description="Sambataro Arquitectos, estudio de arquitectura con más de 40 años de experiencia en asesoría esceno-técnica y maquinaria escénica de mantenimiento'preventivo y correctivo."
    />
</Layout>
