---
import Base from '../../layouts/Base.astro';
import video from '../../video/colon2_video_op.mp4';
import colon from '../../img/colon.avif';

interface Props {
    title?: string;
    description?: string;
}
const { title, description } = Astro.props;
---

<Base>
    <section class="relative -z-10 -translate-y-[.5rem] lg:pt-2">
        <div class="mx-auto">
            <div class="flex flex-col gap-2">
                <!-- <h1 class="tracking-thin text-[2.5rem] font-light lg:text-[4vw]">
                    {title}
                </h1> -->
                <figure class="">
                    <video
                        poster={colon.src}
                        src={video}
                        autoplay
                        muted
                        playsinline
                        class="h-[85vh] w-full lg:h-full object-cover object-bottom">
                    </video>
                    <!-- <video
                        id="blur"
                        poster={colon.src}
                        src={video}
                        autoplay
                        muted
                        playsinline
                        class="absolute inset-0 bottom-0 top-0 rounded-xl object-cover object-center">
                    </video> -->
                </figure>
            </div>
        </div>
    </section>
    <Base />

    <script is:inline>
        const allVideos = document.querySelectorAll('video');

        // if window is mobile size or smaller video pause
        if (window.innerWidth <= 768) {
            allVideos.forEach((video) => {
                video.pause();
            });
        }
        // si el video ya se mostro 1 vez no se muestra de nuevo
        if (sessionStorage.getItem('videoShown')) {
            allVideos.forEach((video) => {
                video.pause();
            });
        } else {
            sessionStorage.setItem('videoShown', 'true');
        }
    </script>
    <style>
        #blur {
            filter: blur(15px) contrast(200%);
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    </style>
</Base>
