---
import Base from '../layouts/Base.astro';

const notes = [
    {
        title: 'Plaza del Agua, un emblema "abandonado"de Mar del Plata',
        date: 'May 14, 2018 - El Marplatense',
        images: ['/publications/plaza1.avif'],
    },
    {
        title: '“La cantidad de gente que vino demuestra el interés y el impacto”',
        date: 'Mar 4, 2018 - El Marplatense',
        images: ['/publications/nelson1.avif'],
    },
    {
        title: 'Mar del Plata palpita el histórico concierto de la Filarmónica',
        date: 'Mar 3, 2018 - El Marplatense',
        images: ['/publications/fila1.avif'],
    },
];
---

<Base>
    <section class="py-16 sm:py-20">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="flex flex-col gap-12 sm:gap-16">
                <ul role="list" class="grid gap-8 lg:grid-cols-3">
                    {
                        notes.map((item, index) => (
                            <li
                                class="rounded-3xl  border border-primary-900/10 p-2 dark:border-primary-300/10 ">
                                <div class="flex h-full flex-col justify-start">
                                    {item.images?.[0] && (
                                        <img
                                            class="mx-auto h-[300px] w-full rounded-2xl object-cover"
                                            src={item.images[0]}
                                            alt={item.title}
                                        />
                                    )}

                                    <div class="flex flex-1 flex-col py-2 text-start">
                                        <date class="text-sm font-light opacity-50">
                                            {item.date}
                                        </date>
                                        <p class="pb-2 text-base leading-relaxed text-primary-950/70 dark:text-primary-200/70">
                                            {item.title}
                                        </p>
                                    </div>
                                    <button
                                        onclick="location.href='/news'"
                                        class="flex items-center justify-center w-full rounded-3xl border border-primary-900/10 px-4 py-2 transition hover:bg-primary-200 dark:border-primary-300/10 hover:dark:bg-primary-900/10"
                                        data-index={index}>
                                        Leer más
                                    </button>
                                </div>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </section>
</Base>
