---
import Base from '../layouts/Base.astro';

import { getLangFromUrl, useTranslations } from '../i18n/utils';
import HeaderLink from './HeaderLink.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const notes = [
    {
        magazine: 'Revista ARQ',
        title: '"Renovación a pleno de un ícono cultural marplatense". Artículo sobre la rehabilitación del Teatro Tronador de Mar del Plata. Suplemento de arquitectura del diario Clarín del 20 de marzo de 2018, página 6-9',
        images: ['/notes/1.webp'],
        link: '#',
    },
    {
        magazine: 'Revista Summa+',
        title: '"Renovación de un clásico moderno". Artículo sobre la remodelación del Teatro Coliseo. Revista n°153, páginas 110-111',
        images: ['/notes/2.webp'],
        link: '#',
    },
    {
        magazine: 'Revista ARQ',
        title: 'Publicación proyecto Escuela técnica de la Universidad de Buenos Aires. Revista de arquitectura de la Pontificia Universidad Católica de Chile, n° 86, Abril 2014, página 95',
        images: ['/notes/3.webp'],
        link: '#',
    },
];
---

<Base>
    <section class="py-16 sm:py-20">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="flex flex-col gap-12 sm:gap-16">
                <ul role="list" class="grid gap-8 lg:grid-cols-3">
                    {
                        notes.map((item, index) => (
                            <li class="rounded-xl bg-primary-200/50 p-2 shadow-md  dark:bg-primary-900">
                                <div class="flex h-full flex-col justify-start">
                                    {item.images?.[0] && (
                                        <img
                                            class="mx-auto h-[350px] w-full rounded-md bg-transparent object-cover"
                                            src={item.images[0]}
                                            alt={item.title}
                                        />
                                    )}

                                    <div class="flex flex-1 flex-col py-2 text-start">
                                        <p class="text-sm font-light opacity-50">{item.magazine}</p>
                                        <p class="pb-2 text-base leading-relaxed text-primary-950/70 dark:text-primary-200/70">
                                            {item.title}
                                        </p>
                                    </div>
                                    <HeaderLink
                                        locale={lang}
                                        href="/publications"
                                        class="dark:hover-bg-primary-700 flex w-full items-center justify-center rounded-xl bg-primary-100 px-6 py-4 text-sm font-normal text-primary-700 shadow transition-all hover:text-primary-800 hover:shadow-md focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-1 focus-visible:outline-primary-500 active:scale-95 dark:border-primary-700 dark:bg-primary-800 dark:text-primary-200 dark:hover:bg-primary-700 dark:hover:text-primary-100 dark:focus-visible:outline-primary-400"
                                        data-index={index}>
                                        Leer más
                                    </HeaderLink>
                                </div>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </section>
</Base>
