---
import Base from '../layouts/Base.astro';

const notes = [
    {
        magazine: 'ARQ Magazine',
        title: "'Full Renovation of a Cultural Icon in Mar del Plata.' Article on the rehabilitation of Teatro Tronador in Mar del Plata. Architecture supplement of Clarín newspaper, March 20, 2018, pages 6-9",
        images: ['/notes/1.webp'],
        link: '#',
    },
    {
        magazine: 'Summa+ Magazine',
        title: "'Renovation of a Modern Classic.' Article on the remodeling of Teatro Coliseo. Issue No. 153, pages 110-111",
        images: ['/notes/2.webp'],
        link: '#',
    },
    {
        magazine: 'ARQ Magazine',
        title: 'Publication of the Technical School project of the University of Buenos Aires. Architecture magazine of the Pontifical Catholic University of Chile, No. 86, April 2014, page 95',
        images: ['/notes/3.webp'],
        link: '#',
    },
];
---

<Base>
    <section class="py-16 sm:py-20">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="flex flex-col gap-12 sm:gap-16">
                <ul role="list" class="grid gap-8 lg:grid-cols-3">
                    {
                        notes.map((item, index) => (
                            <li class="rounded-xl bg-primary-200/50 p-2 shadow-md  dark:bg-primary-900">
                                <div class="flex h-full flex-col justify-start">
                                    {item.images?.[0] && (
                                        <img
                                            class="mx-auto h-[350px] w-full rounded-md bg-transparent object-cover"
                                            src={item.images[0]}
                                            alt={item.title}
                                        />
                                    )}

                                    <div class="flex flex-1 flex-col py-2 text-start">
                                        <p class="text-sm font-light opacity-50">{item.magazine}</p>
                                        <p class="pb-2 text-base leading-relaxed text-primary-950/70 dark:text-primary-200/70">
                                            {item.title}
                                        </p>
                                    </div>
                                    <a
                                        href="/publications"
                                        class="dark:hover-bg-primary-700 flex w-full items-center justify-center rounded-xl bg-primary-100 px-6 py-4 text-sm font-normal text-primary-700 shadow transition-all hover:text-primary-800 hover:shadow-md focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-1 focus-visible:outline-primary-500 active:scale-95 dark:border-primary-700 dark:bg-primary-800 dark:text-primary-200 dark:hover:bg-primary-700 dark:hover:text-primary-100 dark:focus-visible:outline-primary-400"
                                        data-index={index}>
                                        Read more
                                    </a>
                                </div>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </section>
</Base>
