---
import GoBack from './GoBack.astro';
import { SimpleGallery } from './SimpleGallery/SimpleGallery';
import DataList from './DataList.jsx';
import Header from './layout/Header.astro';
import Footer from './layout/Footer.astro';

interface infoProjects {
    id?: string;
    city?: string;
    year?: number;
    room?: string;
    project?: string;
    description1?: string;
    description2?: string;
    description3?: string;
    img?: string;
    anchor?: string;
    href?: string;
    images?: {
        largeURL: string;
        thumbnailURL: string;
        width: number;
        height: number;
    }[];
}
interface infoData {
    datosTecnicos: {
        title: string;
        data: {
            title: string;
            value: string;
        }[];
    }[];
    asesores: {
        title: string;
        data: {
            title: string;
            value: string;
        }[];
    }[];
}

const {
    id,
    city,
    year,
    room,
    project,
    description1,
    description2,
    description3,
    img,
    images,
    datosTecnicos,
    asesores,
} = Astro.props;
---

<section class="relative">
    <Header />
    <GoBack />
    <div class="h-full w-full pt-20">
        <div class="place-items-start bg-primary-100 dark:bg-primary-950 lg:grid xl:grid-cols-3">
            <img
                transition:name={id}
                class="top-0 h-[50vh] w-full overflow-hidden object-cover object-bottom lg:rounded-3xl lg:p-4 xl:sticky xl:h-screen"
                src={img.src}
                alt="picture"
            />
            <div class="dark:bg-primary-950/90">
                <!-- Mission description -->
                <div
                    class="sticky bg-primary-200/50 p-4 dark:bg-primary-900/90 lg:my-4 lg:rounded-md lg:p-12">
                    <div class="">
                        <dd class="text-xl font-light text-primary-950/70 dark:text-primary-200/70">
                            {city}
                        </dd>
                        <p
                            class="tracking-light text-base font-light text-primary-950/70 dark:text-primary-200/70">
                            {room}
                        </p>
                    </div>
                    <div class="flex items-center">
                        <dd
                            class="text-4xl font-thin tracking-tight text-primary-950/70 dark:text-primary-200/70 lg:text-5xl">
                            {year}
                        </dd>
                    </div>
                    <h2
                        class="text-balance text-3xl font-light tracking-tight text-primary-950/70 dark:text-primary-200 lg:text-6xl">
                        {project}
                    </h2>

                    <div class="text-pretty space-y-6 py-8">
                        <p
                            class="text-pretty text-base text-primary-950/70 dark:text-primary-200/70">
                            {description1}
                        </p>
                        <p
                            class="text-pretty text-base text-primary-950/70 dark:text-primary-200/70">
                            {description2}
                        </p>
                        <p
                            class="text-pretty text-base text-primary-950/70 dark:text-primary-200/70">
                            {description3}
                        </p>
                    </div>
                    <DataList client:visible datosTecnicos={datosTecnicos} asesores={asesores} />
                </div>
            </div>
            <aside class="w-full">
                <SimpleGallery client:visible galleryID="myGallery" images={images} />
            </aside>
        </div>
    </div>
    <Footer />
</section>
