---
import Anchor from './Anchor.astro';

interface infoProjects {
    id?: string;
    city?: string;
    year?: number;
    room?: string;
    project?: string;
    description?: string;
    img?: string;
    anchor?: string;
    href?: string;
}

const { id, city, year, room, project, description, anchor, href, img } = Astro.props;
---

<section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-16 lg:px-0 lg:max-w-4xl">
        <div
            class="grid overflow-hidden rounded-xl bg-primary-200/50 shadow-md dark:bg-primary-400 lg:max-h-[550px] lg:grid-cols-2">
            <img
                transition:name={id}
                class="mx-auto block h-full max-h-[300px] w-full object-cover lg:aspect-[4/5] lg:max-h-[550px] lg:object-bottom"
                src={img.src}
                alt="picture"
            />
            <div
                class="flex h-full max-h-[550px] flex-col justify-between space-y-2 p-4 dark:bg-primary-950/95 sm:space-y-4 lg:p-8">
                <!-- Mission description -->

                <div class="tracking-light font-light text-primary-950/70 dark:text-primary-200/70">
                    <p class="">
                        {city}
                    </p>
                    <p class="text-base">✦ {room}</p>
                </div>
                <div class="">
                    <dd class="text-xl font-thin tracking-tight sm:text-4xl">{year}</dd>
                </div>
                <h2 class="text-balance text-2xl font-light tracking-tight lg:text-4xl">
                    {project}
                </h2>

                <div class="flex flex-1 space-y-6">
                    <p
                        class="text-pretty text-sm text-primary-950/70 dark:text-primary-200/70 lg:text-base">
                        {description}
                    </p>
                </div>
                <div class="pt-2">
                    <Anchor name={anchor} href={href} />
                </div>
            </div>
        </div>
    </div>
</section>
