---
import Base from '../../layouts/Base.astro';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/layout/Header.astro';
import Footer from '../../components/layout/Footer.astro';
import EmblaCarousel from '../../components/EmblaCarousel/EmblaCarousel.jsx';
import Heading from '../../components/about/Heading.astro';

import colon from '../../img/projects/colon.webp';
import argentino from '../../img/projects/argentino.webp';
import kimmel from '../../img/projects/kimmel.webp';
import solis from '../../img/projects/solis.webp';
import eastman from '../../img/projects/eastman.webp';
import santiago from '../../img/projects/santiago.webp';
import pane from '../../img/projects/pane.webp';
import condes from '../../img/projects/condes.webp';
import artes from '../../img/projects/artes.webp';
import lago from '../../img/projects/lago.webp';
import serena from '../../img/projects/serena.webp';
import coliseo from '../../img/projects/coliseo.webp';
import fierro from '../../img/projects/fierro.webp';
import tronador from '../../img/projects/tronador.webp';
import libertador from '../../img/projects/libertador.webp';
import dehesa from '../../img/projects/dehesa.webp';
import recoleta from '../../img/projects/recoleta.webp';
import ciudad from '../../img/projects/ciudad.webp';
import mistral from '../../img/projects/mistral.webp';
import cultural from '../../img/projects/cultural.webp';
import arena from '../../img/projects/arena.webp';
import ballet from '../../img/projects/ballet.webp';
import municipal from '../../img/projects/municipal.webp';
import superior from '../../img/projects/superior.webp';
import boheme from '../../img/projects/boheme.webp';
import ernani from '../../img/projects/ernani.webp';
import turandot from '../../img/projects/turandot.webp';
import barbero from '../../img/projects/barbero.webp';
import trovatore from '../../img/projects/trovatore.webp';
import schicchi from '../../img/projects/schicchi.webp';
import pagliacci from '../../img/projects/pagliacci.webp';
import hoffmann from '../../img/projects/hoffmann.webp';
import lammermoor from '../../img/projects/lammermoor.webp';
import vespri from '../../img/projects/vespri.webp';
import ottello from '../../img/projects/ottello.webp';
import giovanni from '../../img/projects/giovanni.webp';
import traviata from '../../img/projects/traviata.webp';
import nabucco from '../../img/projects/nabucco.webp';
import maschera from '../../img/projects/maschera.webp';
import boris from '../../img/projects/boris.webp';
import soldaten from '../../img/projects/soldaten.webp';
import egitto from '../../img/projects/egitto.webp';

const OPTIONS = { loop: true };
const SLIDE_COUNT = 5;
const SLIDES = Array.from(Array(SLIDE_COUNT).keys());

const titles = [
    {
        title: 'Teatros',
    },
    {
        title: 'Centros Culturales',
    },
    {
        title: 'Arenas',
    },
    {
        title: 'Edificios complementarios',
    },
    {
        title: 'Escenografías',
    },
    {
        title: 'Producciones al aire libre',
    },
];

const theaters = [
    {
        id: 'colon',
        city: 'Buenos Aires, Argentina',
        year: '1987-1990',
        room: 'Sala Lírica',
        project: 'Teatro Colón',
        description: 'El Teatro Colón de Buenos Aires, inaugurado en el año 1908',
        img: colon,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-colon',
    },
    {
        id: 'argentino',
        city: 'La Plata, Buenos Aires, Argentina',
        year: '1998-2001',
        room: 'Sala Lírica',
        project: 'Teatro Argentino de La Plata',
        description: 'El nuevo Teatro Argentino de La Plata, re-inaugurado en el año 1999',
        img: argentino,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-argentino',
    },
    {
        id: 'kimmel',
        city: 'Filadelfia, Estados Unidos',
        year: '2002',
        room: 'Acoustic Canopy System, Verizon Hall',
        project: 'The Kimmel Center for the Performing Arts',
        description: 'El centro Kimmel para las artes escénicas, inaugurado en el año 2001',
        img: kimmel,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/kimmel-center',
    },
    {
        id: 'solis',
        city: 'Montevideo, Uruguay',
        year: '2003',
        room: 'Sala Lírica',
        project: 'Teatro Municipal Solís',
        description:
            'El Teatro Municipal Solís de Montevideo, Uruguay fue por primera vez inaugurado en el año 1856',
        img: solis,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-solis',
    },
    {
        id: 'eastman',
        city: 'Rochester, Estados Unidos',
        year: '2004',
        room: 'Acoustic Shell System, Kodak Hall',
        project: 'Eastman Theater - Rochester',
        description:
            'El teatro Eastman, inaugurado en 1922 como centro de música, danza y artes visuales, con su sala principal Kodak Hall',
        img: eastman,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/eastman-theater',
    },
    {
        id: 'santiago',
        city: 'Santiago, Chile',
        year: '2002-2014',
        room: 'Sala Lírica',
        project: 'Teatro Municipal de Santiago',
        description:
            'El Teatro Municipal de Santiago, inaugurado originalmente en el año 1857 y diseñado por el arquitecto François Brunet',
        img: santiago,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-santiago',
    },
    {
        id: 'pane',
        city: 'Asunción, Paraguay',
        year: '2005-2006',
        room: 'Sala Lírica',
        project: 'Teatro Municipal Ignacio A. Pane',
        description:
            'El Teatro Municipal Ignacio A. Pane de Paraguay, restaurado en 2005 siguiendo los criterios del edificio original de 1894',
        img: pane,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-pane',
    },
    {
        id: 'condes',
        city: 'Santiago, Chile',
        year: '2005-2006',
        room: 'Sala Lírica',
        project: 'Teatro Municipal de Las Condes',
        description:
            'Inaugurado en el año 2010, El Teatro Municipal de Las Condes, diseñado por los arquitectos Eduardo San Martín y Pedro Gastón Pascal, y que sustituyó al pequeño Teatro Apoquindo; posee una capacidad total de 874 localidades.;',
        img: condes,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-condes',
    },
    {
        id: 'artes',
        city: 'Bogotá, Colombia',
        year: '2006-2007',
        room: 'Sala de Teatro',
        project: 'Teatro Bellas Artes',
        description:
            'El Teatro Bellas Artes de Bogotá, Colombia realizado por la caja de compensación familiar Cafam e inaugurado en el año 2008, cuenta con capacidad para 1200 localidades al aire libre y 1000 dentro del recinto.',
        img: artes,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-bellas-artes',
    },
    {
        id: 'lago',
        city: 'Frutillar, Chile',
        year: '2009-2010',
        room: 'Sala Nestlé',
        project: 'Teatro del Lago',
        description:
            'El Teatro del Lago de Frutillar, Chile, inaugurado en el año 2010 y diseñado inicialmente por los arquitectos Gerardo Köster',
        img: lago,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-del-lago',
    },
    {
        id: 'serena',
        city: 'La serena, Chile',
        year: '2011-2012',
        room: 'Sala Principal y Secundaria',
        project: 'Teatro Municipal la Serena',
        description:
            'Con una sala principal para 1500 localidades y una sala secundaria para 800 personas, el Teatro Regional de la Serena',
        img: serena,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-la-serena',
    },
    {
        id: 'coliseo',
        city: 'Buenos Aires, Argentina',
        year: '2013-2017',
        room: 'Sala de Teatro',
        project: 'Teatro Coliseo',
        description:
            'El Teatro Coliseo de Buenos Aires es un teatro tradicional con capacidad para 1700 personas, propiedad del Consulado de Italia. Su historia data de fines del siglo XIX',
        img: coliseo,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-coliseo',
    },
    {
        id: 'fierro',
        city: 'La Plata, Argentina',
        year: '2016',
        room: 'Sala al aire libre',
        project: 'Teatro Martin Fierro',
        description:
            'El Teatro Martín Fierro, comúnmente conocido como “Teatro del Lago” y ubicado en la isla del “Paseo del Lago”, es un espacio al aire libre cuya historia data de principios del siglo XX, ',
        img: fierro,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-martin-fierro',
    },
    {
        id: 'tronador',
        city: 'Mar del Plata, Argentina',
        year: '2017-2018',
        room: 'Sala de Teatro',
        project: 'Teatro Tronador',
        description:
            'El tradicional teatro de Mar del Plata se remodeló completamente, reconvirtiéndose en una nueva sala de espectáculos con capacidad para 800 personas ',
        img: tronador,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-tronador',
    },
    {
        id: 'libertador',
        city: 'Córdoba, Argentina',
        year: '2017-2018',
        room: 'Sala Lírica',
        project: 'Teatro del Libertador General San Martín',
        description:
            'El Teatro Rivera Indarte, actualmente conocido como Teatro Libertador General San Martín, es el principal teatro de la ciudad argentina de Córdoba y se destaca como sala de conciertos, ópera y ballet ',
        img: libertador,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-del-libertador',
    },
    {
        id: 'dehesa',
        city: 'Santiago, Chile',
        year: '2015-2016',
        room: 'Sala de Teatro',
        project: 'Teatro La Dehesa',
        description:
            'El complejo La Dehesa, es una edificación multiuso con programa de vivienda, comercio y cultura, ubicado en La Dehesa,',
        img: dehesa,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-la-dehesa',
    },
];

const centers = [
    {
        id: 'recoleta',
        city: 'Buenos Aires, Argentina',
        year: '2016',
        room: 'Salas el Aleph y Villa Villa',
        project: 'Centro Cultural Recoleta',
        description: 'El Centro Cultural Recoleta es un complejo de exhibiciones',
        img: recoleta,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/centers/cultural-recoleta',
    },
    {
        id: 'ciudad',
        city: 'Valencia, España',
        year: '2000-2001',
        room: 'Palacio de las Artes Reina Sofía',
        project: 'Ciudad de las Artes y las Ciencias',
        description: 'La Ciudad de las Artes y las Ciencias, un complejo arquitectónico cultural ',
        img: ciudad,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/centers/ciudad-de-las-artes',
    },
    {
        id: 'mistral',
        city: 'Buenos Aires, Argentina',
        year: '2008-2010 y 2015',
        room: 'Salas de música, prosa y polifuncional, etapas 1 y 2',
        project: 'Centro cultural Gabriela Mistral',
        description: 'El edificio original diseñado por los arquitectos José Covacevic',
        img: mistral,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/centers/gabriela-mistral',
    },
    {
        id: 'cultural',
        city: 'Santiago, Chile',
        year: '2013-2014',
        room: 'Sala de teatro',
        project: 'Centro cultural casas de lo Matta',
        description: 'El actual Centro Cultural Casas de Lo Matta contiene un',
        img: cultural,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/centers/cultural-casas',
    },
];

const sands = [
    {
        id: 'arena',
        city: 'Santiago, Chile',
        year: '2005-2006',
        room: 'Arena',
        project: 'Arena Santiago',
        description:
            'La Arena Santiago es un edificio tipo estadio, con capacidad para 16.500 espectadores, ',
        img: arena,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/sands/arena-santiago',
    },
];

const buildings = [
    {
        id: 'ballet',
        city: 'Santiago, Chile',
        year: '2013',
        room: 'Escuela de ballet',
        project: 'Escuela de ballet de Santiago',
        description: 'El edificio Moneda 759, adyacente al Teatro Municipal de Santiago ',
        img: ballet,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/buildings/ballet-santiago',
    },
    {
        id: 'municipal',
        city: 'Santiago, Chile',
        year: '2014',
        room: 'Camarines',
        project: 'Teatro Municipal de Santiago',
        description: 'El Teatro Municipal de Santiago, inaugurado originalmente en el año 1857',
        img: municipal,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/buildings/teatro-municipal',
    },
    {
        id: 'superior',
        city: 'Mar del Plata, Argentina',
        year: '2017-2018',
        room: 'Escuela de ballet',
        project: 'Instituto Superior de Arte del teatro Colón',
        description: 'Se ejecutó el programa integral de la escuela de ballet',
        img: superior,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/buildings/superior-de-arte',
    },
];

const scenography = [
    {
        id: 'boheme',
        city: 'Buenos Aires, Argentina',
        year: '1999',
        room: 'La Bohème de Puccini',
        project: 'La Bohème de Puccini',
        description:
            'Ópera en cuatro actos​ con música de Giacomo Puccini y libreto en italiano de Giuseppe Giacosa',
        img: boheme,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/boheme',
    },
    {
        id: 'ernani',
        city: 'Santiago, Chile',
        year: '2001',
        room: 'Teatro municipal',
        project: 'Ernani',
        description:
            'Ópera en cuatro actos con música de Giuseppe Verdi y libreto de Francesco María Piave,',
        img: ernani,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/ernani',
    },
    {
        id: 'turandot',
        city: 'Bogotá, Colombia',
        year: '2002',
        room: 'Opera de Colombia',
        project: 'Turandot',
        description: 'Turandot es una ópera en tres actos con música de Giacomo Puccini y',
        img: turandot,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/turandot',
    },
    {
        id: 'barbero',
        city: 'Bógota, Colombia',
        year: '2002',
        room: 'Ópera de Colombia',
        project: 'Barbero de Sevilla',
        description:
            'La ópera bufa en dos actos con música de Gioachino Rossini y libreto de Cesare Sterbini, basado en la comedia de Pierre',
        img: barbero,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/barbero',
    },
    {
        id: 'trovatore',
        city: 'Santiago, Chile',
        year: '2002',
        room: 'Teatro Municipal de Santiago',
        project: 'Il Trovatore',
        description: 'Il Trovatore es una ópera en cuatro actos con música de Giuseppe Verdi',
        img: trovatore,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/trovatore',
    },
    {
        id: 'schicchi',
        city: 'Santiago, Chile',
        year: '2002',
        room: 'Teatro Municipal de Santiago',
        project: 'Gianni Schicchi',
        description: 'Ópera cómica en un acto con música de Giacomo Puccini y',
        img: schicchi,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/schicchi',
    },
    {
        id: 'pagliacci',
        city: 'Santiago, Chile',
        year: '2003',
        room: 'Teatro Municipal de Santiago',
        project: 'Pagliacci',
        description: '"El drama en dos actos con un prólogo y con música y',
        img: pagliacci,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/pagliacci',
    },
    {
        id: 'hoffmann',
        city: 'Quebec, Canadá',
        year: '2005',
        room: 'Ópera de Quebec',
        project: 'Les Contes d Hoffmann',
        description: 'La ópera en tres actos con música de Jacques Offenbach y',
        img: hoffmann,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/hoffmann',
    },
    {
        id: 'lammermoor',
        city: 'Santiago, Chile',
        year: '2005',
        room: 'Teatro Municipal de Santiago',
        project: 'Lucia di Lammermoor',
        description: 'Ópera en tres actos con música de Gaetano Donizetti y',
        img: lammermoor,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/lammermoor',
    },
    {
        id: 'vespri',
        city: 'Buenos Aires, Argentina',
        year: '2006',
        room: 'Teatro Colón',
        project: 'Il Vespri Siciliani',
        description: 'Ópera en cinco actos con música de Giuseppe Verdi y',
        img: vespri,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/vespri',
    },
    {
        id: 'ottello',
        city: 'Bogotá, Colombia',
        year: '2005',
        room: 'Ópera de Colombia',
        project: 'Ottello',
        description:
            'Con música de Guiseppe Verdi y libreto de Arrigo Boito a partir de la obra de',
        img: ottello,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/ottello',
    },
    {
        id: 'giovanni',
        city: 'Bogotá, Colombia',
        year: '2006',
        room: 'Ópera de Colombia',
        project: 'Don Giovanni',
        description: 'Drama jocoso en dos actos con música de Wolfgang Amadeus Mozart y ',
        img: giovanni,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/giovanni',
    },
    {
        id: 'traviata',
        city: 'Buenos Aires, Argentina',
        year: '2007',
        room: 'Teatro Colón',
        project: 'La Traviata',
        description: 'La traviata es una ópera en tres actos con música de Giuseppe Verdi',
        img: traviata,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/traviata',
    },
    {
        id: 'nabucco',
        city: 'Santiago, Chile',
        year: '2007',
        room: 'Teatro municipal de Santiago',
        project: 'Nabucco',
        description:
            'Nabucco es una tragedia lírica en cuatro partes con música de Giuseppe Verdi y',
        img: nabucco,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/nabucco',
    },
    {
        id: 'maschera',
        city: 'Santiago, Chile',
        year: '2008',
        room: 'Teatro municipal de Santiago',
        project: 'Un ballo in Maschera',
        description: 'Ópera en tres actos con música de Giuseppe Verdi y libreto en italiano',
        img: maschera,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/maschera',
    },
    {
        id: 'boris',
        city: 'Santiago, Chile',
        year: '2011',
        room: 'Teatro municipal de Santiago',
        project: 'Boris Godunov',
        description:
            'Ópera en cuatro actos y un prólogo con música y libreto en ruso de Modest Músorgski.',
        img: boris,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/boris',
    },
    {
        id: 'soldaten',
        city: 'Buenos Aires, Argentina',
        year: '2016',
        room: 'Teatro Colón',
        project: 'Die Soldaten',
        description: 'Ópera en cuatro actos con música y libreto en alemán de Bernd Alois',
        img: soldaten,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/soldaten',
    },
    {
        id: 'egitto',
        city: 'Buenos Aires, Argentina',
        year: '2017',
        room: 'Teatro Colón',
        project: 'Giulio Cesare in Egitto',
        description: 'Ópera en tres actos con música de Georg Friedrich Händel y',
        img: egitto,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/scenography/egitto',
    },
];
---

<Layout description="" title="Proyectos">
    <Base>
        <Header />
        <section class="py-12">
            <h1>
                <Heading title="Proyectos" subtitle="" />
            </h1>
            <article class="mx-auto py-12 sm:py-24">
                <h6
                    class="mx-auto w-full py-4 text-center text-2xl font-light tracking-tight sm:py-12 lg:text-[3vw]">
                    {titles[0].title}
                </h6>

                <EmblaCarousel
                    client:visible
                    slides={SLIDES}
                    options={OPTIONS}
                    projects={theaters}
                />
            </article>

            <article class="mx-auto py-12 sm:py-24">
                <h6
                    class="mx-auto w-full py-4 text-center text-2xl font-light tracking-tight sm:py-12 lg:text-[3vw]">
                    {titles[1].title}
                </h6>

                <EmblaCarousel
                    client:visible
                    slides={SLIDES}
                    options={OPTIONS}
                    projects={centers}
                />
            </article>

            <article class="mx-auto py-12 sm:py-24">
                <h6
                    class="mx-auto w-full py-4 text-center text-2xl font-light tracking-tight sm:py-12 lg:text-[3vw]">
                    {titles[2].title}
                </h6>

                <EmblaCarousel client:visible slides={SLIDES} options={OPTIONS} projects={sands} />
            </article>

            <article class="mx-auto py-12 sm:py-24">
                <h6
                    class="mx-auto w-full py-4 text-center text-2xl font-light tracking-tight sm:py-12 lg:text-[3vw]">
                    {titles[3].title}
                </h6>

                <EmblaCarousel
                    client:visible
                    slides={SLIDES}
                    options={OPTIONS}
                    projects={buildings}
                />
            </article>

            <article class="mx-auto py-12 sm:py-24">
                <h6
                    class="mx-auto w-full py-4 text-center text-2xl font-light tracking-tight sm:py-12 lg:text-[3vw]">
                    {titles[4].title}
                </h6>

                <EmblaCarousel
                    client:visible
                    slides={SLIDES}
                    options={OPTIONS}
                    projects={scenography}
                />
            </article>
        </section>
        <Footer />
    </Base>
</Layout>
