---
import Base from '../../layouts/Base.astro';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/layout/Header.astro';
import Footer from '../../components/layout/Footer.astro';
import EmblaCarousel from '../../components/EmblaCarousel/EmblaCarousel.jsx';
import Heading from '../../components/about/Heading.astro';

import colon from '../../img/projects/colon.webp';
import argentino from '../../img/projects/argentino.webp';
import kimmel from '../../img/projects/kimmel.webp';
import solis from '../../img/projects/solis.webp';
import eastman from '../../img/projects/eastman.webp';
import santiago from '../../img/projects/santiago.webp';
import pane from '../../img/projects/pane.webp';
import condes from '../../img/projects/condes.webp';
import artes from '../../img/projects/artes.webp';
import lago from '../../img/projects/lago.webp';
import serena from '../../img/projects/serena.webp';
import coliseo from '../../img/projects/coliseo.webp';
import fierro from '../../img/projects/fierro.webp';
import tronador from '../../img/projects/tronador.webp';
import libertador from '../../img/projects/libertador.webp';
import dehesa from '../../img/projects/dehesa.webp';

const OPTIONS = { loop: true };
const SLIDE_COUNT = 5;
const SLIDES = Array.from(Array(SLIDE_COUNT).keys());

const titles = [
    {
        title: 'Teatros',
    },
    {
        title: 'Centros Culturales',
    },
    {
        title: 'Arenas',
    },
    {
        title: 'Edificios complementarios',
    },
    {
        title: 'Escenografías',
    },
    {
        title: 'Producciones al aire libre',
    },
];

const projects = [
    {
        id: 'colon',
        city: 'Buenos Aires, Argentina',
        year: '1987-1990',
        room: 'Sala Lírica',
        project: 'Teatro Colón',
        description: 'El Teatro Colón de Buenos Aires, inaugurado en el año 1908',
        img: colon,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-colon',
    },
    {
        id: 'argentino',
        city: 'La Plata, Buenos Aires, Argentina',
        year: '1998-2001',
        room: 'Sala Lírica',
        project: 'Teatro Argentino de La Plata',
        description: 'El nuevo Teatro Argentino de La Plata, re-inaugurado en el año 1999',
        img: argentino,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-argentino',
    },
    {
        id: 'kimmel',
        city: 'Filadelfia, Estados Unidos',
        year: '2002',
        room: 'Acoustic Canopy System, Verizon Hall',
        project: 'The Kimmel Center for the Performing Arts',
        description: 'El centro Kimmel para las artes escénicas, inaugurado en el año 2001',
        img: kimmel,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/kimmel-center',
    },
    {
        id: 'solis',
        city: 'Montevideo, Uruguay',
        year: '2003',
        room: 'Sala Lírica',
        project: 'Teatro Municipal Solís',
        description:
            'El Teatro Municipal Solís de Montevideo, Uruguay fue por primera vez inaugurado en el año 1856',
        img: solis,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-solis',
    },
    {
        id: 'eastman',
        city: 'Rochester, Estados Unidos',
        year: '2004',
        room: 'Acoustic Shell System, Kodak Hall',
        project: 'Eastman Theater - Rochester',
        description:
            'El teatro Eastman, inaugurado en 1922 como centro de música, danza y artes visuales, con su sala principal Kodak Hall',
        img: eastman,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/eastman-theater',
    },
    {
        id: 'santiago',
        city: 'Santiago, Chile',
        year: '2002-2014',
        room: 'Sala Lírica',
        project: 'Teatro Municipal de Santiago',
        description:
            'El Teatro Municipal de Santiago, inaugurado originalmente en el año 1857 y diseñado por el arquitecto François Brunet',
        img: santiago,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-santiago',
    },
    {
        id: 'pane',
        city: 'Asunción, Paraguay',
        year: '2005-2006',
        room: 'Sala Lírica',
        project: 'Teatro Municipal Ignacio A. Pane',
        description:
            'El Teatro Municipal Ignacio A. Pane de Paraguay, restaurado en 2005 siguiendo los criterios del edificio original de 1894',
        img: pane,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-pane',
    },
    {
        id: 'condes',
        city: 'Santiago, Chile',
        year: '2005-2006',
        room: 'Sala Lírica',
        project: 'Teatro Municipal de Las Condes',
        description:
            'Inaugurado en el año 2010, El Teatro Municipal de Las Condes, diseñado por los arquitectos Eduardo San Martín y Pedro Gastón Pascal, y que sustituyó al pequeño Teatro Apoquindo; posee una capacidad total de 874 localidades.;',
        img: condes,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-condes',
    },
    {
        id: 'artes',
        city: 'Bogotá, Colombia',
        year: '2006-2007',
        room: 'Sala de Teatro',
        project: 'Teatro Bellas Artes',
        description:
            'El Teatro Bellas Artes de Bogotá, Colombia realizado por la caja de compensación familiar Cafam e inaugurado en el año 2008, cuenta con capacidad para 1200 localidades al aire libre y 1000 dentro del recinto.',
        img: artes,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-bellas-artes',
    },
    {
        id: 'lago',
        city: 'Frutillar, Chile',
        year: '2009-2010',
        room: 'Sala Nestlé',
        project: 'Teatro del Lago',
        description:
            'El Teatro del Lago de Frutillar, Chile, inaugurado en el año 2010 y diseñado inicialmente por los arquitectos Gerardo Köster',
        img: lago,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-del-lago',
    },
    {
        id: 'serena',
        city: 'La serena, Chile',
        year: '2011-2012',
        room: 'Sala Principal y Secundaria',
        project: 'Teatro Municipal la Serena',
        description:
            'Con una sala principal para 1500 localidades y una sala secundaria para 800 personas, el Teatro Regional de la Serena',
        img: serena,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-la-serena',
    },
    {
        id: 'coliseo',
        city: 'Buenos Aires, Argentina',
        year: '2013-2017',
        room: 'Sala de Teatro',
        project: 'Teatro Coliseo',
        description:
            'El Teatro Coliseo de Buenos Aires es un teatro tradicional con capacidad para 1700 personas, propiedad del Consulado de Italia. Su historia data de fines del siglo XIX',
        img: coliseo,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-coliseo',
    },
    {
        id: 'fierro',
        city: 'La Plata, Argentina',
        year: '2016',
        room: 'Sala al aire libre',
        project: 'Teatro Martin Fierro',
        description:
            'El Teatro Martín Fierro, comúnmente conocido como “Teatro del Lago” y ubicado en la isla del “Paseo del Lago”, es un espacio al aire libre cuya historia data de principios del siglo XX, ',
        img: fierro,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-martin-fierro',
    },
    {
        id: 'tronador',
        city: 'Mar del Plata, Argentina',
        year: '2017-2018',
        room: 'Sala de Teatro',
        project: 'Teatro Tronador',
        description:
            'El tradicional teatro de Mar del Plata se remodeló completamente, reconvirtiéndose en una nueva sala de espectáculos con capacidad para 800 personas ',
        img: tronador,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-tronador',
    },
    {
        id: 'libertador',
        city: 'Córdoba, Argentina',
        year: '2017-2018',
        room: 'Sala Lírica',
        project: 'Teatro del Libertador General San Martín',
        description:
            'El Teatro Rivera Indarte, actualmente conocido como Teatro Libertador General San Martín, es el principal teatro de la ciudad argentina de Córdoba y se destaca como sala de conciertos, ópera y ballet ',
        img: libertador,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-del-libertador',
    },
    {
        id: 'dehesa',
        city: 'Santiago, Chile',
        year: '2015-2016',
        room: 'Sala de Teatro',
        project: 'Teatro La Dehesa',
        description:
            'El complejo La Dehesa, es una edificación multiuso con programa de vivienda, comercio y cultura, ubicado en La Dehesa,',
        img: dehesa,
        anchor: 'Ver más sobre este proyecto',
        href: '/projects/theaters/teatro-la-dehesa',
    },
];
---

<Layout description="" title="Proyectos">
    <Base>
        <Header />
        <section class="py-12">
            <h1>
                <Heading title="Proyectos" subtitle="" />
            </h1>
            <article class="mx-auto py-12 sm:py-24">
                <h6
                    class="mx-auto w-full py-4 text-center text-2xl font-light tracking-tight sm:py-12 lg:text-[3vw]">
                    {titles[0].title}
                </h6>

                <EmblaCarousel
                    client:visible
                    slides={SLIDES}
                    options={OPTIONS}
                    projects={projects}
                />
            </article>

            <article class="mx-auto py-12 sm:py-24">
                <h6
                    class="mx-auto w-full py-4 text-center text-2xl font-light tracking-tight sm:py-12 lg:text-[3vw]">
                    {titles[0].title}
                </h6>

                <EmblaCarousel
                    client:visible
                    slides={SLIDES}
                    options={OPTIONS}
                    projects={projects}
                />
            </article>

            <article class="mx-auto py-12 sm:py-24">
                <h6
                    class="mx-auto w-full py-4 text-center text-2xl font-light tracking-tight sm:py-12 lg:text-[3vw]">
                    {titles[0].title}
                </h6>

                <EmblaCarousel
                    client:visible
                    slides={SLIDES}
                    options={OPTIONS}
                    projects={projects}
                />
            </article>
        </section>
        <Footer />
    </Base>
</Layout>
